html, body {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    height: 100vh;
    width: 100%;
    background-image: url('images/dashboard.jpg\ \(2\).jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
  }
  
  
  h1 {
    font-family: Poppins;
    font-weight: bold;
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
    padding: 0.4em 1em;
    position: relative;
    margin: 0;
  }
  
  .rev-block {
    position: relative;
    display: flex;
    justify-content: center;
    color: black;
  }
  
  .rev-block span {
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 1.4s;
    white-space: nowrap; /* Ensure the text does not wrap */
  }
  
  .rev-block:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: black;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;
  }
  
  @keyframes rev-block {
    0% {
      left: 0;
      width: 0%;
    }
    50% {
      left: 0;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 0%;
    }
  }
  
  @keyframes appear-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #onemore span {
    animation-delay: 2s;
  }
  
  #onemore.rev-block:after {
    background: black;
    animation-delay: 1.4s;
  }
  
  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 20px;
      padding: 0.4em;
    }
  }