
body {
    color: white;
    overflow-x: hidden;
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/900018.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px; /* Reduced padding for top and bottom */
}

.card {
    
    background-color: black ;
    opacity: 0.8;
    padding: 15px; /* Reduced padding */
    margin-top: 5px; /* Reduced margin top */
    margin-bottom: 5px; /* Reduced margin bottom */
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px; /* Set maximum width for the card */
    margin: 0 auto; /* Center the card horizontally */
}

.form-control-label {
    margin-bottom: 5px; /* Reduced margin for labels */
    font-size: 12px; /* Reduced font size for labels */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input[type="text"], input[type="date"], textarea, button {
    padding: 8px; /* Reduced padding */
    border-radius: 5px !important;
    font-size: 12px !important; /* Reduced font size */
}

.btn-block {
    text-transform: uppercase;
    font-size: 12px !important; /* Reduced button font size */
    height: 40px; /* Reduced button height */
    cursor: pointer;
}