{% extends "sidebar.html" %}
{% block content %}

<link rel="stylesheet" href="/static/deviceData.css">

<title>Device Data</title>
<div class="container">
                      
    <h1 style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Device Data</h1>                    
    <div class="row" style="margin-left: 12%;">
    <div class="col-12">
        <div class="card">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Battery Level</th>
                                <th>Device ID</th>
                                <th>First Sensor Temperature</th>
                                <th>Route From</th>
                                <th>Route To</th>
                            </tr>
                        </thead>
                        {% for item in data %}
                        <tr>
                            <td>{{ item.Battery_Level }}</td>
                            <td>{{ item.Device_ID }}</td>
                            <td>{{ item.First_Sensor_temperature }}</td>
                            <td>{{ item.Route_From }}</td>
                            <td>{{ item.Route_To }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
