{% extends "sidebar.html" %}
{% block content %}

<title>Shipments</title>
<link href="/static/shipments.css" rel="stylesheet">

<h1>Shipments</h1>
<div class="card-container">
    {% for shipment in shipments %}
    <div class="card justify-content-center" onclick="toggleDetails(this)">
        <div class="card-header">
            <h3>Submitted By: {{ shipment.username }}</h3>
            <div>Role: {{ shipment.role }}</div>
        </div>
        <div class="card-details">
            <p><strong>Container No:</strong> {{ shipment.container_no }}</p>
            <p><strong>Route Details:</strong> {{ shipment.route_details }}</p>
            <p><strong>Goods Type:</strong> {{ shipment.goods_type }}</p>
            <p><strong>Device:</strong> {{ shipment.device }}</p>
            <p><strong>Expected Delivery Date:</strong> {{ shipment.expected_delivery_date }}</p>
            <p><strong>PO Number:</strong> {{ shipment.po_number }}</p>
            <p><strong>Delivery Number:</strong> {{ shipment.delivery_number }}</p>
            <p><strong>NDC Number:</strong> {{ shipment.ndc_number }}</p>
            <p><strong>Batch ID:</strong> {{ shipment.batch_id }}</p>
            <p><strong>Serial Number of Goods:</strong> {{ shipment.serial_number_of_goods }}</p>
            <p><strong>Description:</strong> {{ shipment.shipment_description }}</p>
        </div>
        <div class="toggle-button">Show Details</div>
    </div>
    {% endfor %}
</div>
<script src="/static/javascript/shipments.js"></script>
{% endblock %}
